/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhp.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Source Code Pro SemiBold"), local("SourceCodePro-SemiBold"),
    url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_XiYsKILxRpg3hIP6sJ7fM7Pqt4s_Dvecq_mk.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Source Code Pro SemiBold"), local("SourceCodePro-SemiBold"),
    url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_XiYsKILxRpg3hIP6sJ7fM7Pqt4s_Ds-cq.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Source Code Pro Bold"), local("SourceCodePro-Bold"),
    url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_XiYsKILxRpg3hIP6sJ7fM7Pqths7Dvecq_mk.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Source Code Pro Bold"), local("SourceCodePro-Bold"),
    url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_XiYsKILxRpg3hIP6sJ7fM7Pqths7Ds-cq.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  display: block;
}

button {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Main */

/* By default dark mode

Desktop/Mobile Header: Source Code Pro Bold (700)
Desktop/Mobile SubHeader: Source Code Pro Semi-bold (600)

Desktop/Mobile Body: Open Sans Regular (400)
Mobile Flavor: Open Sans Semi-bold (600)
*/
:root {
  --bg-color: #1a1a1a;
  --text-color: #e6e6e6;
  --highlight-color: #55aa55;
  --link-color: #b3b3ff;
  --link-visited-color: #c2a5f3;
  --link-active-color: #ff8080;

  --header-font: "Source Code Pro", "Courier New", monospace;
  --body-font: "Open Sans", "Verdana", sans-serif;

  --header-weight: 700;
  --subheader-weight: 600;

  --body-weight: 400;
  --flavor-weight: 600;

  --header-size: 2.375rem;
  --subheader-size: 1.75rem;
  --flavor-size: 1.5rem;
  --body-size: 1.25rem;
  --minor-size: 1rem;
}

.lightMode {
  --bg-color: #ffffff;
  --text-color: #262626;
  --highlight-color: #116611;
  --link-color: #0000ee;
  --link-visited-color: #551abb;
  --link-active-color: #ff0000;
}

noscript {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 4rem;
  width: 100%;
  font-size: var(--subheader-size);
  font-weight: var(--subheader-weight);
}

.lightMode .dark-icon,
.light-icon {
  display: none;
}

.lightMode .light-icon {
  display: block;
}

* {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-weight: var(--body-weight);
  font-size: var(--body-size);
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

a:active {
  color: var(--link-active-color);
}

.split {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  width: 100%;
}

/* Nav bar */

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
}

nav a,
nav a:focus,
nav a:visited {
  color: var(--text-color);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

.burger {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.nav-icon {
  height: var(--body-size);
  width: auto;
  margin-right: 0.3rem;
}

nav button {
  background: none;
  border: none;
}

nav button img {
  height: 2rem;
  width: auto;
  cursor: pointer;
}

/* Header */

header {
  height: 90vh;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

h1 {
  color: var(--highlight-color);
  font-family: var(--header-font);
  font-size: var(--header-size);
  font-weight: var(--header-weight);
}

header p {
  font-size: var(--subheader-size);
}

header ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li {
  margin-left: 3rem;
}

header img {
  width: 275px;
  height: auto;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.link-icon {
  height: 2rem;
  width: auto;
}

/* Main */

main {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 4rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-family: var(--header-font);
  font-weight: var(--header-size);
  font-size: var(--header-size);
}

h3 {
  text-align: right;
  color: var(--highlight-color);
  font-family: var(--header-font);
  font-size: var(--subheader-size);
  font-weight: var(--subheader-weight);
}

section ul {
  margin: 0;
  padding-left: 1rem;
}

section p {
  margin-bottom: 0.5rem;
}

section .split {
  margin-bottom: 2rem;
}

section {
  margin-bottom: 4rem;
}

.flavor-body,
h4 {
  font-weight: var(--flavor-weight);
  font-size: var(--flavor-size);
}

.job-info-icon {
  height: var(--body-size);
  width: auto;
  display: inline;
}

.lightMode .dark-icon.job-info-icon,
.light-icon {
  display: none;
}

.lightMode .light-icon.job-info-icon {
  display: inline;
}

.job-info-group {
  margin: 0;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: var(--body-size);
  font-weight: var(--flavor-weight);
  margin: 0;
  margin-top: 1rem;
}

/* Footer */

footer {
  text-align: center;
  font-size: var(--minor-size);
  margin-bottom: 1rem;
}

/* Mobile */

@media screen and (max-width: 768px) {
  .split {
    display: block;
  }

  /* Nav */

  nav {
    padding: 1rem;
  }

  .burger {
    display: block;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 44px;
    height: 6px;
    border: none;
    border-radius: 4px;
    background: var(--text-color);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .bar1 {
    margin-bottom: 10px;
  }

  .bar2 {
    margin: 10px 0;
  }

  .bar3 {
    margin-top: 10px;
  }

  .bar1Open {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 16px;
  }

  .bar2Open {
    opacity: 0;
  }

  .bar3Open {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    bottom: 16px;
  }

  nav ul {
    display: none;
  }

  .navListOpen {
    display: block;
    position: fixed;
    top: 44px;
    left: 0;
    padding: 1rem;
    background: var(--bg-color);
    width: 100%;
  }

  .navListOpen li {
    margin-bottom: 1rem;
  }

  nav button {
    padding: 0;
  }

  nav button img {
    height: 2.75rem;
    width: auto;
  }

  /* Header */

  header div,
  .sigil {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  header li {
    margin: 0 1.5rem;
  }

  .sigil {
    margin-bottom: 2rem;
  }

  .sigil img {
    margin: auto;
    max-width: 100%;
  }

  header.split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* Main */

  main {
    margin: 0 auto;
    padding: 0 2rem;
  }

  h2,
  h3 {
    text-align: left;
  }
}
