.sub-section {
    width: 70%;
    margin: auto;
    padding-bottom: 2rem;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;

    h2 {
        text-align: right;
        line-height: 1;
    }

    @media screen and (max-width: 768px) {
        display: block;
        width: 100%;

        h2 {
            text-align: left;
            line-height: 1.5;
            margin-bottom: 0.5rem;
        }
    }
}
